/*  your css code here. If applicable */
 .span-1{
	color:#2a7ae2;

}
.span-2{
	color:#f44336;
}
.span-3{
	color:#4caf50;
}
.span-4{
	color:#ff9800;
}
.span-5{
	color:#607d8b;
}
.span-6{
	color:#ffeb3b;	
} 