/*  your css code here. If applicable */
.span-1{
	color:#2a7ae2;
	font-size:70px;
	font-weight:800;
}
.span-2{
	color:#f44336;
	font-size:60px;
	font-weight:700;
	margin:50px
}
.span-3{
	color:#4caf50;
	font-size:50px;
	font-weight:600;
	margin:60px;
	
	
}
.span-4{
	color:#ff9800;
	font-size:50px;
	font-weight:400;
	margin:70px;
}
.span-5{
	color:#607d8b;
	font-size:40px;
	font-weight:300;
	margin:80px;
}
.span-6{
	color:#ffeb3b;
	font-size:30px;
	font-weight:200;
	margin:90px;
}